HOSTNAME=magedocker.test
WEB_USER=www-data

# first 3 parts of ip network you like to use
NETWORK_BASE=169.254.81
# magento accepts this enviroments: default, developer or production
ENVIROMENT=developer

DATABASE_NAME=magedocker
DATABASE_USER=magento
DATABASE_PASSWORD=magedocker
DATABASE_ROOT_PASSWORD=magedocker_root
ORDER_PREFIX=inv

ADMIN_USERNAME=admin
ADMIN_FIRSTNAME=Jhon
ADMIN_LASTNAME=Doe
ADMIN_EMAIL=johndoe@example.com
ADMIN_PASSWORD=Magento

DEFAULT_LANGUAGE=en_US
DEFAULT_CURRENCY=USD
DEFAULT_TIMEZONE=America/New_York

BACKEND_FRONTNAME=management
PHPADMIN_PORT=8080

# patch for use volumes, outsite c:/Users,
# 1) add the project's directory to the shared directories in your VM.
# 2) write here the address you add inside the VM
ROOT_PROJECT=/absolute/path/to/your/projet
