src/*
!src/.gitkeep
config/dhparam/*
!config/dhparam/.gitkeep
ssl/*
!ssl/.gitkeep
config/nginx/sites-enabled/*
!config/nginx/sites-enabled/.gitkeep
.env
config/nginx/nginx.conf
config/php/zz-docker.conf
config/certbot/ssl_renew.sh
