[global]

error_log = /dev/stderr
log_level = warning
daemonize = no

[www]

; if we send this to /proc/self/fd/1, it never appears
access.log = /dev/stdout

listen = /sock/docker.sock
listen.owner = $WEB_USER
listen.group = $WEB_USER
listen.mode = 0660

pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3

pm.status_path = /fpm_status
ping.path = /ping
ping.response = pong
